$fontSans: "Helvetica Neue", Helvetica, Arial, sans-serif
$fontMonospace: "Consolas", Liberation Mono, Menlo, Courier, monospace

$alpha: #C792EA
$beta: #89DDFF
$gama: #A6ACB8
$delta: #C3E88D
$epsilon: #2E3440
$omega: #1E1E2E
$zeta: #0F111A
$kappa: #FFCB6B




$thin-font: 300

$mobile: "only screen and (max-width: 400px)"
$tablet: "only screen and (min-width: 400px) and (max-width: 1050px)"
$above: "only screen and (min-width: 780px)"
$below: "only screen and (max-width: 780px)"
